body {
    font-family: roboto;
    display:flex;
    flex-direction:column;
    margin:0;
}

.top {
    display:flex;
    justify-content: space-between;
    padding:10px 100px;
    margin:0;
}

ul {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
    gap:30px;
    min-width:100px;
    align-items: center;
}

li {
    flex-shrink: 0;

}
a,
.header-text {
    color:#e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    flex-shrink: 0;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
}

.awesome {
    font-size:48px;
    font-weight: bolder;
}

.bottom-left {
    flex:1;
    display:flex;
    flex-direction: column;
}
.bottom {
    display:flex;
    padding:50px 100px;
    gap:80px;
}

.button-1 {
    background-color: #3882f6;
    color:#f9faf8;
    font-size: 18px;
    font-weight: bolder;
    width:120px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    padding:8px;
}

.bottom-right {
    display:flex;
    flex:1;
    background-color: grey;
    align-items: center;
    justify-content: center;

}