body {
    font-family: roboto;
    display:flex;
    flex-direction:column;
    margin:0;
}

.top {
    display:flex;
    justify-content: space-between;
    padding:10px 100px;
    margin:0;
}

ul {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
    gap:30px;
    min-width:100px;
    align-items: center;
}

li {
    flex-shrink: 0;

}
a,
.header-text {
    color:#e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    flex-shrink: 0;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
}

.awesome {
    font-size:48px;
    font-weight: 800;
}

.bottom-left {
    flex:1;
    display:flex;
    flex-direction: column;
}
.bottom {
    display:flex;
    padding:50px 100px;
    gap:80px;
}

.button-1 {
    background-color: #3882f6;
    color:#f9faf8;
    font-size: 18px;
    font-weight: 800;
    width:120px;
    margin-top: 10px;
    border-radius: 8px;
    border:2px solid #3882f6;
    padding:8px;
}

.bottom-right {
    display:flex;
    flex:1;
    background-color: grey;
    align-items: center;
    justify-content: center;

}

.extra-information {
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    padding-top:50px;
    padding-bottom:50px;
}

.card-list {
    display:flex;
    gap:20px;
    justify-content: center;
}

.card {
    max-width:200px;
    text-align: center;
    font-size: 18px;

}

.border {
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid;
    border-radius: 8px;
    width:150px;
    height:150px;
    border-color:#3882f6;
    margin:auto;
}

.body-container1 {
    display:flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.body-container2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
    background-color: #e5e7eb;
    padding-top:50px;
    padding-bottom:50px;
    gap:20px;
}

.quote{
    max-width:800px;
    font-weight: 200;
    color:#1F2937;
    font-style:italic;
    font-size: 36px;
}

.quote-author {
    display:flex;
    width:600px;
    justify-content: flex-end;
    font-weight: 800;
    padding-right:100px;
}


.body-container3 {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.left-side {
    display:flex;
    flex-direction: column;
}

.sign-up-menu2 {
    display:flex;
    background-color: #3882f6;
    width:800px; 
    border-radius: 8px;
    padding:30px 60px;
    justify-content:space-around;
    align-items: center;
    color:#f9faf8
}

.action {
    font-weight: 800;
}

.sign-up {
    font-weight: 300;
}

.button-2 {
    background-color: #3882f6;
    color:#f9faf8;
    font-size: 18px;
    font-weight: 800;
    width:120px;
    margin-top: 10px;
    border-radius: 8px;
    border:2px solid #f9faf8;
    padding:8px;
    margin:0; 
}
